.nav-link.active {
  color: white !important;
}

.nav-link.active i {
  color: white !important;
}

body {
  margin: 0;
  font-family: "Nunito";
}

.lastProduct {
  display: flex;
  justify-content: center;
}

.lastProductImage {
  width: 300px;
}

.lastUserImage {
  width: 300px;
}