<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detalle-de-producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>OFT</title>
</head>
<body>
    <header>
    </header>

    <main>
        <h3>NOMBRE DE PRODUCTO</h3>
        <div class="review">
            <div>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="buttons puntaje">
                0.0
            </div>
            <div class="buttons write-review">
                Escribir Reseña
            </div>
        </div>
        <div class="product">
            <img src="img/IMG_0168.jpeg" class="main-image">
        </div>
              <h3>$1500</h3>
        <div class="product-details">
              <p class="buttons">Cant</p>
              <p class="buttons">Aroma</p>
              <p class="buttons">Agregar al carrito</p>
              <i class="fa-regular fa-heart"></i>
        </div>
        <div>
            <!-- aca va la linea divisora-->
        </div>
        <div>
            <h3>USAR CON</h3>
            <article>
                <div class="add-also">
                  <img src="img/IMG_0175.jpeg" class="add-also-images">
                  <div>
                      <h5>Nombre del producto</h5>
                      <p>$2000</p>
                  </div>
                      <i class="fa-regular fa-heart"></i>
                </div>
                      <p class=" buttons add-also-button" >Agregar al carrito</p>
            </article>
        </div>
        <div>
            <!-- aca va una linea divisora-->
        </div>
            <h3>RESEÑAS</h3>
            <div class="reviews">
                <div>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="buttons puntaje">
                         0.0
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error similique. Animi dignissimos dolorem sit doloribus aspernatur accusantium inventore veritatis alias, amet, adipisci quasi sunt quas voluptatem beatae, nostrum deserunt?</p>
                </div>
                <div>
                <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        <div>
            <!-- aca va una linea divisora-->
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>