

  /*  --------------main--------------------------------------------*/
  .page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px; 
    border-bottom: 1.5px solid black;
  }

  .titulo{
    display: flex;
    font-size: 2rem; 
    margin-left: 15px;
  }

  .login{
    display: flex;
    font-size: 1.2rem;
    margin-left: 15px; 
    margin-bottom: 15px;
  }
  
  .preg-login{
    display: inline-block;
  }

  .redirec-login{
    display: inline-block;
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: teko;
  }

  .items {
    margin: 20px; 
    padding-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid black;

  }

  .items-cant {
    display: flex; 
    justify-content: space-between;
    margin-left: 10px; 
  }
 
  .p-items{
    margin-right: 20px;
    margin-left: 10px; 
    font-size: 1.5rem;
  }

  .p-cant{
    margin-top: 5px; 
  }

  .p-precio{
    font-size: 1.3rem; 
    margin-right: 20px; 
  }

  .principal{
    display: flex; 
    flex-wrap: wrap;
  }

  .productos{
    display: flex;
    margin: 5px 20px 10px 20px; 
    padding-bottom: 10px;
    border-bottom: 1.5px solid black;
  }

  .producto{
    display: flex;
  }

  .foto-producto{
    display: block;
    margin-right: 30px; 
    margin-left: 5px; 
  }

  .foto-producto img{
    width:100%; 
  }

  .datos-producto{
    width: 60%;
  }

  .detalle-total{
    display: flex;
    justify-content: space-between;
  }

  .detalle-total p{
    display: inline-block;
  }

  .editar-cantidades {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.acciones{
    display: flex;
}

.eliminar, .editar, .aplicar-codigo {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: teko;
    display: inline-block;
}

.like{
    background-color: white;
    color: #D2AFFF;
    border: none;
    font-size: 1rem;
}

.like:hover{
    color: black;
}
  
.resumen-compra{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: 5px 20px 10px 20px;
}

.titulo-resumen{
    font-size: 32px;
    display: inline-block;
}

.subtotal{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.costo-envio{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.descuento{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.codigo-descuento{
    margin: 5px;
}
  
.codigo-desc{
    font-family: "Teko", sans-serif;
    border-radius: 15px;
    padding: 8px 2px 8px 8px;
    margin: 5px;
}

.checkout-total{
    display:flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 1.2rem;
}

#checkout-btn{
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.2rem;
}

.bases{
    font-size: 0.8rem;
    margin-left: 5px;
    padding-bottom: 20px;
}

.bases p{
    width: 60%;
}
  