

  /*  --------------main--------------------------------------------*/
  .page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px; 
    border-bottom: 1.5px solid black;
  }

  .titulo{
    display: flex;
    font-size: 2rem; 
    margin-left: 15px;
  }

  .login{
    display: flex;
    font-size: 1.2rem;
    margin-left: 15px; 
    margin-bottom: 15px;
  }
  
  .preg-login{
    display: inline-block;
  }

  .redirec-login{
    display: inline-block;
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: "Teko", "sans-serif";
    transition-duration: 450ms;
  }

  .items {
    margin: 20px; 
    padding-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid black;

  }

  .items-cant {
    display: flex; 
    justify-content: space-between;
    margin-left: 10px; 
  }
 
  .p-items{
    margin-right: 20px;
    margin-left: 10px; 
    font-size: 1.5rem;
  }

  .p-cant{
    margin-top: 5px; 
  }

  .p-precio{
    font-size: 1.3rem; 
    margin-right: 20px; 
  }

  .principal{
    display: flex; 
    flex-wrap: wrap;
  }

  .productos{
    display: flex;
    margin: 5px 20px 10px 20px; 
    padding-bottom: 10px;
    border-bottom: 1.5px solid black;
  }

  .producto{
    display: flex;
  }

  .foto-producto{
    display: block;
    margin-right: 30px; 
    margin-left: 5px; 
  }

  .foto-producto img{
    width:100%; 
    border-radius: 25px;
  }

  .datos-producto{
    width: 60%;
  }

  .detalle-total{
    display: flex;
    justify-content: space-between;
  }

  .detalle-total p{
    display: inline-block;
  }

  .editar-cantidades {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.acciones{
    display: flex;
}

.eliminar, .editar, .aplicar-codigo {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: teko;
    display: inline-block;
    transition-duration: 450ms;
}

.like{
    background-color: white;
    color: #D2AFFF;
    border: none;
    font-size: 1rem;
    transition-duration: 450ms;
}
  
.resumen-compra{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: 5px 20px 10px 20px;
}

.titulo-resumen{
    font-size: 32px;
    display: inline-block;
}

.subtotal{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.costo-envio{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.descuento{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.codigo-descuento{
    margin: 5px;
}
  
.codigo-desc{
    font-family: "Teko", sans-serif;
    border-radius: 15px;
    padding: 8px 2px 8px 8px;
    margin: 5px;
}

.checkout-total{
    display:flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 1.2rem;
}

#checkout-btn{
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.2rem;
    transition-duration: 450ms;
}

.bases{
    font-size: 0.8rem;
    margin-left: 5px;
    padding-bottom: 20px;
}

.bases p{
    width: 60%;
}

/* Hovers */

.redirec-login:hover{
  color:#000;
  transform: scale(1.2);
}

.aplicar-codigo:hover {
  color:#000;
  transform: scale(1.2);
}

.editar:hover {
  color:#000;
  transform: scale(1.2);
}

.eliminar:hover {
  color:#000;
  transform: scale(1.2);
}

#checkout-btn:hover {
  color:#000;
  transform: scale(1.2);
}

.like:hover {
  transform: scale(1.2);
}


@media (min-width: 500px){
  .foto-producto{
      display: block;
      margin-right: 30px; 
      margin-left: 5px; 
      width: 40%;
    }
}

@media (min-width: 780px){

  main{
      padding-left: 50px;
      padding-right: 50px;
  }

  .page-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 15px; 
      border-bottom: 1.5px solid black;
    }
  
    .titulo{
      display: flex;
      align-self: flex-start;
      width: 65%;
      margin: 0px 20px 10px 15px; 
      font-size: 2rem; 
    }
  
    .login{
      display: flex;
      width: 35%;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2rem;
      margin: 0px 20px 10px 20px; 
    }

    .preg-login{
      display: inline-block;
    }
  
    .redirec-login{
      display: inline-block;
    }
  
    .items{
      display:none; 
    }

    .principal{
      display: flex;
      flex-wrap: nowrap;
    }

    .productos{
      padding-right: 30px;
      border-bottom: 0px;
    }

    .nombre-producto{
      font-size: 2rem;
    }

    .detalle-total .descripcion-prod{
      font-size: 1.1rem;
    }
  
    .detalle-total .precio-total{
      font-size: 1.5rem;
    }
  
    .agregar-total{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .precio-unitario{
      font-size: 1.3rem;
    }

    .cantidad-unidades button {
      border: solid 0px #000;
      border-radius: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 18px;
  }

  .detalle-total{
      padding-top: 10px;
      padding-left: 170px;
  }
  
  .acciones{
      display: flex;
  }
  
  .eliminar, .editar {
      border: solid 0px #000;
      border-radius: 10px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
      background-color: #D2AFFF;
      color: white;
      font-family: teko;
      display: inline-block;
  }
  
  .like{
      background-color: white;
      border: none;
      font-size: 20px;
  }
}

