/*-------COPIAR Y PEGAR EN EL CSS DE CADA PAGINA Y LLENAR EL MAIN (html y css)-------------*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  html body {
    width: 100vw;
    height: 100vh;
    font-family: "Teko", sans-serif;
  }
  
  /*---------------HEADER----------------------------------------------------*/
  
  header {
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Teko", sans-serif;
    text-decoration: none;
    padding-top: 10px;
    
  }
  
  header .headerSection1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    font-size: 1em; 
    padding-bottom:2px;
  }
  
  #burguer {
    display: none;
  }
  
  header a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-family: "Teko", sans-serif;
  }
  
  .headerSection1 a:hover {
    color: #87ff74;
  }
  
  #auto,
  #corazon {
    padding-right: 15px;
    
  
  }
  
  #logo {
    width: 5em;
    transition: 0.5s;
    margin-right: 120px;
    margin-left: 160px;
  }
  
  
  #logo:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
  
  
  header input {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: 2px solid;
    font-size: 1em;
    font-weight: bolder;
    width: 300px;
    font-family: "Teko", sans-serif;
  }
  
  header button {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 1em;
    width: 2.5em;
    border-radius: 100px;
    font-family: "Teko", sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  
  
  .contenedorMiGarage {
    padding-right: 30px;
  }
  
  .carrito {
    font-size: 0.7em;
  }
  
  
  
  .headerSection2 {
    border-top: 1px solid rgba(255, 255, 255, 0.342);
    box-sizing: border-box;
    background: linear-gradient(
      to right,
      rgb(173, 173, 255),
      #d8ffd2,
      rgb(203, 203, 255)
    );
    font-size: 1em;
    padding-left:70px ;
    padding-right: 10px;
  
  }
  
  .headerSection2 a {
    color: black;
  }
  .headerSection2 a:hover {
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition-duration: 450ms;
    }
  
  
  .navegador {
    height: 3em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 80px; }
  
    #burguer {
      display: none;
    }
    
    #lupa {
      display: none;
    }
    
    @media (max-width: 1279px)   { 
      header {
        border-bottom: 1px solid white;
        flex-wrap: nowrap;
      }
      .headerSection1{
        margin-bottom: 30px;
        flex-wrap: nowrap;
        margin-top: 30px;
        padding-left: 40px;
        padding-right: 20px;
      }
      #logo {
        margin-left: 25px;
        margin-right: 25px;
      }
      .left {
        display: none;
      }
      .carrito {
        padding-left: 20px;
      }
      .headerSection2 {
        padding-right: 100px;
      }
    }
  
    @media (max-width : 811px) {
      .carrito {
        display: none;
      }
    }

    @media (min-width : 1000px) {
      .carrito {
        margin-right: 0px;
      }
      .contenedorMiGarage {
        margin-left: 20px;
      }
      .headerSection1 {
        padding-left: 60px;
      }
    }


  
  
    @media (max-width : 773px) {
      .headerSection2 {
        display: none;
      }
      header .carrito {
        display: none;
      }
      header input {
        display: none;
      }
      .contenedorMiGarage, .contenedorFavoritos {
        display: none;
      }
      #burguer {
        display: block;
        font-size: 3em;
        margin-left: 30px;
      }
      #lupa {
        display: block;
        font-size: 3em;
        margin-right: 50px;
        margin-left: 20px;
  
      }
      .headerSection1{
        margin-bottom: 10px;
        margin-top: 10px;
      }
      header {
        border-bottom: 1px solid white;
      }
      #logo {
        font-size: 1.2em;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        margin-left: 70px;
      }
      
      .left {
        display: none; }
    
      .headerSection2 {
        display: none;
        }
    }
  
    @media (max-width :  494px) {
        #logo {
          margin: 10px;
        }
        #lupa {
          margin: 0;
        }
        #burguer {
          margin: 0;
        }
      }


  /*  --------------main--------------------------------------------*/
  .page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px; 
    border-bottom: 1.5px solid black;
  }

  .titulo{
    display: flex;
    font-size: 2rem; 
    margin-left: 15px;
  }

  .login{
    display: flex;
    font-size: 1.2rem;
    margin-left: 15px; 
    margin-bottom: 15px;
  }
  
  .preg-login{
    display: inline-block;
  }

  .redirec-login{
    display: inline-block;
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: teko;
  }

  .items {
    margin: 20px; 
    padding-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid black;

  }

  .items-cant {
    display: flex; 
    justify-content: space-between;
    margin-left: 10px; 
  }
 
  .p-items{
    margin-right: 20px;
    margin-left: 10px; 
    font-size: 1.5rem;
  }

  .p-cant{
    margin-top: 5px; 
  }

  .p-precio{
    font-size: 1.3rem; 
    margin-right: 20px; 
  }

  .principal{
    display: flex; 
    flex-wrap: wrap;
  }

  .productos{
    display: flex;
    margin: 5px 20px 10px 20px; 
    padding-bottom: 10px;
    border-bottom: 1.5px solid black;
  }

  .producto{
    display: flex;
  }

  .foto-producto{
    display: block;
    margin-right: 30px; 
    margin-left: 5px; 
  }

  .foto-producto img{
    width:100%; 
  }

  .datos-producto{
    width: 60%;
  }

  .detalle-total{
    display: flex;
    justify-content: space-between;
  }

  .detalle-total p{
    display: inline-block;
  }

  .editar-cantidades {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.acciones{
    display: flex;
}

.eliminar, .editar, .aplicar-codigo {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    background-color: #D2AFFF;
    color: white;
    font-family: teko;
    display: inline-block;
}

.like{
    background-color: white;
    color: #D2AFFF;
    border: none;
    font-size: 1rem;
}

.like:hover{
    color: black;
}
  
.resumen-compra{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: 5px 20px 10px 20px;
}

.titulo-resumen{
    font-size: 32px;
    display: inline-block;
}

.subtotal{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.costo-envio{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.descuento{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}

.codigo-descuento{
    margin: 5px;
}
  
.codigo-desc{
    font-family: "Teko", sans-serif;
    border-radius: 15px;
    padding: 8px 2px 8px 8px;
    margin: 5px;
}

.checkout-total{
    display:flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 1.2rem;
}

#checkout-btn{
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.2rem;
}

.bases{
    font-size: 0.8rem;
    margin-left: 5px;
    padding-bottom: 20px;
}

.bases p{
    width: 60%;
}
  /*  --------------FOOTER--------------------------------------------*/
  
  footer {
    height: fit-content;
    width: 100vw;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  footer .callUs {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  footer .callUs i {
    font-size: 1em;
    padding-right: 10px;
  }
  
  footer .callUs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  footer .social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 60%;
    border-bottom: 1px solid white;
  }
  
  footer .social_media_icons i {
    padding: 20px;
  }
  
  footer .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    width: 70%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  footer .copyright p {
    color: #acacac;
  }
  footer .copyright p a {
    color: #acacac;
  }
  
  footer .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 4em;
    width: 95%;
  }
  
  .newsletter .contenedorNews1,
  .contenedorNews2 {
    padding: 10px;
  }
  
  .contenedorNews2 {
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
  }
  
  /*
  .newsletter .contenedorNews1 {
      border-left: 1px solid white;
  }
  */
  
  .newsletter input,
  button {
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Teko';
  }
  
  .newsletter input {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: 2px solid;
    font-size: 1em;
    width: 300px;
    font-family: 'Teko';
  }
  /*
  input[type="text"] {
      border: 1px solid #ccc;
      height: 1.6em;
      width: 20.23em;
      color: #666;
    }
  
    input[type="email"] {
      border: 1px solid #ccc;
      height: 1.6em;
      width: 20.23em;
      color: #666;
    }
  */
  
  .newsletter button {
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 15px;
    border: 2px solid;
    font-size: 1.2em;
    width: 200px;
    font-family: "Teko", sans-serif;
    background-color: #D2AFFF;
    
  }
  
  .newsletter .contenedorNews1 p {
    font-size: 1.5em;
    color: white;
    font-family: "Teko", sans-serif;
    margin-left: 15px;
  }
  
  .newsletter .contenedorNews2 p {
    font-size: 1.5em;
    color: white;
    font-family: "Teko", sans-serif;
  }


  @media (min-width: 500px){
    .foto-producto{
        display: block;
        margin-right: 30px; 
        margin-left: 5px; 
        width: 40%;
      }
  }

  @media (min-width: 780px){

    main{
        padding-left: 50px;
        padding-right: 50px;
    }

    .page-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px; 
        border-bottom: 1.5px solid black;
      }
    
      .titulo{
        display: flex;
        align-self: flex-start;
        width: 65%;
        margin: 0px 20px 10px 15px; 
        font-size: 2rem; 
      }
    
      .login{
        display: flex;
        width: 35%;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.2rem;
        margin: 0px 20px 10px 20px; 
      }

      .preg-login{
        display: inline-block;
      }
    
      .redirec-login{
        display: inline-block;
      }
    
      .items{
        display:none; 
      }

      .principal{
        display: flex;
        flex-wrap: nowrap;
      }

      .productos{
        padding-right: 30px;
        border-bottom: 0px;
      }

      .nombre-producto{
        font-size: 2rem;
      }

      .detalle-total .descripcion-prod{
        font-size: 1.1rem;
      }
    
      .detalle-total .precio-total{
        font-size: 1.5rem;
      }
    
      .agregar-total{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      .precio-unitario{
        font-size: 1.3rem;
      }

      .cantidad-unidades button {
        border: solid 0px #000;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }

    .detalle-total{
        padding-top: 10px;
        padding-left: 170px;
    }
    
    .acciones{
        display: flex;
    }
    
    .eliminar, .editar {
        border: solid 0px #000;
        border-radius: 10px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        background-color: #D2AFFF;
        color: white;
        font-family: teko;
        display: inline-block;
    }
    
    .like{
        background-color: white;
        border: none;
        font-size: 20px;
    }
  }