* {
    box-sizing: border-box;
}

main {
    font-family: 'Teko', sans-serif;
    background-color: #ebebeb;
}

h1 {
    padding-top: 30px;
}

h2 {
    padding-top: 30px;
}

h3 {
    margin-left: 10%;
    padding-top: 15px;
    font-size: 25px;

}

img {
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.buttons {
    border: solid 1px #000;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;  
    padding-bottom: 2px;
}

.flecha {
    font-size: 25px;
    transition-duration: 450ms;
}

.review {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 15px;
}

.review i {
    color:#FF9900
}

.review p {
    margin-left: 15px;
    color:#666
}

.review-font {
    color: #FF9900;
}

.product {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.main-image {
    max-width: 260px;
    max-height: 340px;
}

.linea-divisora {
    margin: auto;
    border: solid 0.5px #666;
    width: 90%;
    margin-top: 20px;
}

.add-also-images {
    width: 150px;
    display:flex;
    flex-grow: 0.3;
    transition-duration: 450ms;
}

.product-details {
    
    font-size: 40px;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.description {
    font-size: 1.2rem;
}

.precioYDescuento {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

.descuento {
    color:#1e960b;
}

.desktop {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#quantity {
    border: 3px solid #D2AFFF;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

.add-to-cart-button {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: #D2AFFF;
    font-family: teko;
    transition-duration: 450ms;
}

.add-to-cart-button a {
    color: white;
}

.deleteButton {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: #b32525;
    color: white;
    font-family: teko;
    transition-duration: 450ms;
}

.editButton {
    border: solid 0px #000;
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: #9fe994;
    color: white;
    font-family: teko;
    transition-duration: 450ms;
    margin-right: 10px;
}

.editButton p {
    color:black;
}

.add-also {
    display:flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 20px;
}

.add-also-details {
    flex-grow: 0.3;
    width: 30%;
}

.add-also-details p {
    font-size: 15px;
}

.add-also-button {
    width:120px;
    text-align: center;
    border: solid 1px #000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;  
    padding-bottom: 5px;
    margin-top: 20px;
    font-family: teko;
    transition-duration: 450ms;
}

.reviews {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.review-punctuation {
    display: flex;
    align-items: baseline;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.review-punctuation i {
    color:#FF9900

}

.review-punctuation p {
    margin-left: 15px;
    color:#666
}

.review-detail {
    margin-top: 15px;
    margin-bottom: 20px;
}

.review-arrow {
    width:10%;
}

.editDelete {
    display: flex;
    justify-content: space-between;
}

/* A parti de aca estan los hovers */

.review-font:hover {
    text-decoration: underline;
}

.add-to-cart-button:hover {
    color:#000;
    transform: scale(1.2);
}

.flecha:hover {
    transform: scale(1.2);
}

.add-also-button:hover {
    transform: scale(1.2);
    background-color: #000;
    color: white;
}

article:hover .add-also-images {
    transform: scale(1.1);
}

article:hover .add-also-details {
    color:#FF9900
}


@media (max-width: 768px){
    .more-reviews {
        display: none;
        margin-top: 15px;
    } 
    .desktop {
        position: relative;
    }
    h1 {
        position:absolute;
        top: 0px;
        left: 10%;
    }
    .review {
        position: absolute;
        top: 65px;
        left: 10%;
    }
    .product {
        padding-top: 130px;
    }
    .product-description {
        width: 100%;
        margin-left: 9%;
        margin-bottom: 30px;
    }
    .position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .add-to-cart-button {
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-details {
        width: 85vw;
        text-align: center;
    }
}

@media (min-width: 769px){
    .review-arrow {
        visibility: hidden;
    }  
    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
        align-items: stretch;
    }
    .product {
        display: flex;
        align-items: center;
    }
    .position {
        position: relative;
    }
    .review {
        display: flex;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .product-description {
        margin-left: 0;
    }
    .product-details {
        font-size: 25px;
        bottom: 5px;
    }
    .main-image {
        width: 50vw;
    }
}