/*-------COPIAR Y PEGAR EN EL CSS DE CADA PAGINA Y LLENAR EL MAIN (html y css)-------------*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html body {
  font-family: "Teko", sans-serif;
}

/*---------------HEADER----------------------------------------------------*/

/* header {
  height: fit-content;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  padding-top: 10px;
} */

.contenedorHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

header .headerSection1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: wrap; */
}

#burguer {
  display: none;
}

header a {
  color: white;
  text-decoration: none;
  font-family: "Teko", sans-serif;
}

.navegador{
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  margin-top: 15px;
  border-bottom: 0.25rem solid transparent;
  transition: 250ms;
}

.nav-link:hover{
  color: #d8ffd2;
  border-bottom-color: #d8ffd2;
}

.nav-link.active {
  color: #adadff;
  border-bottom-color: #adadff;

}

#dropdownMenuButton1 {
  color: white;
  border-color: black;
  font-size: 1.2rem;
}

.dropdown-link {
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  border-bottom: 0.25rem solid transparent;
  transition: 250ms;
  padding-left: 10px;
}

.dropdown-link:hover{
  color: #adadff;
  border-bottom-color: #adadff;
}

.dropdown.active {
  color: #adadff;
  border-bottom-color: #adadff;

}

#logo {
  width: 4rem;
  transition: 0.5s;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 50px;
  margin-left: 50px;
}


#logo:hover {
  transform: rotate(360deg);
  transition: 1s;
}


.search {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 100px;
  border: 2px solid;
  font-size: 1em;
  font-weight: bolder;
  width: 300px;
  font-family: "Teko", sans-serif;
  transition: 250ms;
}

.search-submit {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 1em;
  width: 2.5em;
  border-radius: 100px;
  font-family: "Teko", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: 250ms;
}

.search:hover, .search:focus{
  border-color:#D2AFFF;
}

.search-submit:hover{
  color: #D2AFFF;
  border-color:#D2AFFF;
  transform: scale(1.2);
}



.contenedorMiGarage {
  padding-right: 30px;
}

.carrito i {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-left: 25px;
  transition: 1000ms;
}

.carrito i:hover{
  color: #d8ffd2;
  transform: scale(1.2);
}

.carrito i.active {
  color: #adadff;
}

.headerSection2 {
  width: 100%;
  background: #adadff;
  z-index: 99;
  background: linear-gradient(-45deg, #adadff 0%, #d8ffd2 52%, rgb(203, 203, 255) 100%);
  background-size: 400vw 400vw;
  animation: waveColors 8s ease infinite;
  height: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-color: white;
}

.headerSection2 a {
  padding-bottom: 10px;
  color: black;
  font-size: 1.5rem;
}
.headerSection2 a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
    transition-duration: 450ms;
}



#heart {
  color: grey;  
  font-size: 50px;
}

#heart.red {
  color: red;
}


  #burguer {
    display: none;
  }
  
  #lupa {
    display: none;
  }
  
  @media (max-width: 1279px)   { 
    header {
      border-bottom: 1px solid white;
      flex-wrap: nowrap;
    }
    .headerSection1{
      margin-bottom: 30px;
      flex-wrap: nowrap;
      margin-top: 30px;
      padding-left: 40px;
      padding-right: 20px;
    }
    #logo {
      margin-left: 25px;
      margin-right: 25px;
    }
    .left {
      display: none;
    }
    .carrito {
      padding-left: 20px;
    }
    .headerSection2 {
      padding-right: 100px;
    }
  }

  @media (max-width : 811px) {
    .carrito {
      display: none;
    }
  }

  @media (min-width : 1000px) {
    .carrito {
      margin-right: 0px;
    }
    .contenedorMiGarage {
      margin-left: 20px;
    }
    .headerSection1 {
      padding-left: 60px;
    }
  }




  @media (max-width : 773px) {
    .headerSection2 {
      display: none;
    }
    header .carrito {
      display: none;
    }
    header input {
      display: none;
    }
    .contenedorMiGarage, .contenedorFavoritos {
      display: none;
    }
    #burguer {
      display: block;
      font-size: 3em;
      margin-left: 30px;
    }
    #lupa {
      display: block;
      font-size: 3em;
      margin-right: 50px;
      margin-left: 20px;

    }
    .headerSection1{
      margin-bottom: 10px;
      margin-top: 10px;
    }
    header {
      border-bottom: 1px solid white;
    }
    #logo {
      font-size: 1.2em;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      margin-left: 70px;
    }
    
    .left {
      display: none; }
  
    .headerSection2 {
      display: none;
      }
  }

  @media (max-width :  494px) {
      #logo {
        margin: 10px;
      }
      #lupa {
        margin: 0;
      }
      #burguer {
        margin: 0;
      }
    }

    @keyframes waveColors {
      0% {
        background-position: 0% 7%;
      }
      50% {
        background-position: 100% 94%;
      }
      100% {
        background-position: 0% 7%;
      }
    }
  
  
  /*  --------------main--------------------------------------------*/
  



/*  --------------main--------------------------------------------*/



/*  --------------FOOTER--------------------------------------------*/

footer {
  height: fit-content;
  width: 100vw;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .callUs {
  display: flex;
  font-family: "Teko", sans-serif;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer .callUs i {
  font-size: 1em;
  padding-right: 10px;
}

footer .callUs i:hover{
  color: #d8ffd2;
  font-size: 2em;
}

footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1em;
  width: 70%;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer .copyright p {
  font-family: "Barlow Condensed", sans-serif;
  color: #acacac;
}
footer .copyright p a {
  font-family: "Barlow Condensed", sans-serif;
  color: #acacac;
}

