/*-------COPIAR Y PEGAR EN EL CSS DE CADA PAGINA Y LLENAR EL MAIN (html y css)-------------*/

* {
  box-sizing: border-box;
}

main {
  color: rgb(0, 0, 0);
  font-family: "Teko", sans-serif;
  background-color: #ebebeb;
  padding-top: 30px;
}

main h2 {
  text-align: center;
  /* margin: 15px; */
}

.cards {
  width: 100%;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-bottom: 10px; */
}

.imag {
  width: 70vw;
  border-radius: 20px;
}

.product-description {
  width: 80vw;
  text-align: center;
}

.article:hover .product-description {
  color:#FF9900
}

@media (min-width: 768px) {
  .cards {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .imag {
    width: 60%;
    border-radius: 20px;
    margin-bottom: 0%;
  }

  .class-description {
    margin: 0;
  }

  .article {
    width: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-self: auto; */
    /* justify-content: space-between; */
    padding: 0%;
    margin-bottom: 30px;
  }
}
