* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html body {
  font-family: "Teko", sans-serif;
}

/*-------COPIAR Y PEGAR EN EL CSS DE CADA PAGINA Y LLENAR EL MAIN (html y css)-------------*/

main {
  color: rgb(0, 0, 0);
  font-family: "Teko", sans-serif;
  background-color: white;
  padding: 0px;
}

main h2 {
  text-align: center;
  /* margin: 15px; */
}

.banner {
  display: flex;
  background-image: url("../img/banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 800px;
}

h1{
  color: black;
}

/* icono whatsapp flotante */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover{
  animation: bounce 0.75s infinite;
  color: white;
}

@keyframes bounce {
    0% {transform: scale(1,1) translate(0px, 0px)}
    30%{transform: scale(1,0.8) translate(0px, 10px)}
    75%{transform: scale(1,1.1) translate(0px, -25px)}
    100% {transform: scale(1,1) translate(0px, 0px)}
}


.my-float{
	margin-top:16px;
}

.products-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.cards1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 15px;
}

.cards2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #beffb4;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;


}

article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: rgb(246, 246, 246);
  list-style: none;
  padding: 8px;
  margin: 8px;
  margin-right: 40px;
  margin-top: 30px;
  position: relative;
  border: 1px rgb(0, 0, 0) solid;
  
}



article:hover {
  box-shadow: 0px 0px 15px rgb(133, 255, 127); 
}

ul {
  list-style: none;
}

article .productoNombre {
  margin: 5px;
  padding-left: 5px;
  font-size: 1.2em;
  
}

.imag {
  position: relative;
}

.corazon{
  position: absolute;
  top: 20px;
  left: 230px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}


#carrito {
  color: white;
  font-size: 0.7em;
  padding-left: 10px;
}

.cajaChica {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cajaChica div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}



#detalles {
  width: 50%; 
  background-color: #D2AFFF;
  margin-right: 5px;
}

.comprar{
  width: 50%; 
  background-color: black;
  cursor: pointer;
}

.comprar:hover {
  background-color: rgb(171, 171, 171);
}


#txt {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-family: "Barlow Condensed", sans-serif;
  display: none;
  padding: 15px;
  margin-top: 5px;
  width: 260px
}

#txt1 {
  background-color: rgb(182, 182, 182);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-family: "Barlow Condensed", sans-serif;
  display: none;
  padding: 15px;
  margin-top: 5px;
  width: 200px
}


article:hover #txt {
  background-color: #cbcbcb;
  display: block;
  
}


article:hover #txt1 {
  background-color: #cbcbcb;
  display: block;
}

.cajaChica p {
  display: flex;
  padding: 10px;
  color: white;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1em;
}

form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
border: none;
font: inherit;
  font-size: 0.9em;
  height: 40px;
  
}




  /*
  @media (max-width: 480px) {
  #offers h2 {
    border: solid black 2px;
    border-radius: 5px;
    width: 90vw;
    margin: auto;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .imag {
    width: 60%;
    border-radius: 20px;
    margin-bottom: 0%;
  }

  .class-description {
    margin: 0;
  }

  .article {
    width: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-self: auto; */
    /* justify-content: space-between; 
    padding: 0%;
    margin-bottom: 30px;
  }

  .slider {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .carousel-list {
    display: flex;
    animation: cambio 10s infinite normal linear;
  }

  .moving-image {
    max-width: 100vw;
    list-style: none;
    display: flex;
  }

  .moving-image img {
    width: 100vw;
  }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    31.3% {
      margin-left: 0;
    }
    33.3% {
      margin-left: -100.7%;
    }
    64.6% {
      margin-left: -100.7%;
    }
    66.6% {
      margin-left: -200.5%;
    }
    100% {
      margin-left: -200.5%;
    }
  } */

/*
@media (max-width: 1440px) {
  #offers h2 {
    border: solid black 2px;
    border-radius: 5px;
    width: 90vw;
    margin: auto;
  }

  nav {
    width: 25vw;
    text-align: center;
    margin-left: 5px;
  }

  nav.dropdown a {
    text-decoration: none;
    color: black;
  }

  nav.dropdown ul {
    list-style: none;
  }

  nav.dropdown li {
    border: black solid 2px;
    border-radius: 5px;
    margin-bottom: 2px;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .imag {
    width: 60%;
    border-radius: 20px;
    margin-bottom: 0%;
  }

  .class-description {
    margin: 0;
  }

  .article {
    width: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-self: auto; */
    /* justify-content: space-between;
    padding: 0%;
    margin-bottom: 30px;
  }

  .slider {
    width: 100vw;
    height: 25vw;
    border: solid 2px #ebebeb;
    overflow: hidden;
    left: 0%;
    top: 0%;
  }

  .carousel-list {
    display: flex;
    animation: cambio 10s infinite normal linear;
  }

  .moving-image {
    max-width: 100vw;
    list-style: none;
    display: flex;
  }

  .moving-image img {
    width: 100vw;
  }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    31.3% {
      margin-left: 0;
    }
    33.3% {
      margin-left: -100.7%;
    }
    64.6% {
      margin-left: -100.7%;
    }
    66.6% {
      margin-left: -200.5%;
    }
    100% {
      margin-left: -200.5%;
    }
  }
}


}
*/
