* {
    box-sizing: border-box;
    margin : 0;
    padding: 0; 
}

html body {
    width: 100vw;
    height: 100vh;
}

/*          Manera alternativa de hacer el header que dejo por las dudas   
header {
    background-color: rgb(255, 0, 0);
    width: 100vw; 
    height: 20vh;  
}

.contenedor-logo, .menu{
    margin:auto;
	text-align:center;

}

.menu {
    display: flex;
    justify-content: space-around; 
}

.logo {
    height: 6em;
}

.lupa {
    padding-left: 2em;
}

*/

header {
    box-sizing: border-box;
    width: 100vw;
    height: 30vh; 
    font-family: 'Teko', sans-serif; 
}


.headerSection1 {
    box-sizing: border-box;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
    width: 100vw;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerSection1 p {
    font-size: 20px;
}

.contenedorFavoritos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedorFavoritos #corazon {
    padding-right: 15px;
}


.contenedorMiGarage {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding-right: 6em;
    
}

.contenedorMiGarage i{
    padding-right: 15px;
    font-size: 2em;
}


.contenedorFavoritos, .contenedorMiGarage, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contenedorFavoritos i {
        font-size: 2em;
}

.burger {
    
    color: white;
    font-size: 30px;
}

.logo {
    
    height: 100%;
    width: auto;
    display: flex;
    

}

.lupa {

    color: white;
    font-size: 30px;
}

.carrito {

    color: white;
    font-size: 1.5em;
    padding-left: 1em;
    padding-top: 8px;
}

.wrapper {
    width:300px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 0.5rem 0 1.5rem;
    font-size: 1em;
    font-style: normal;
    font-family: 'Teko', sans-serif;
}

#searchQuerySubmit {
    width: -7rem;
    height: 2.8rem;
    margin-left: -3rem;
    background: none;
    border: none;
    outline: none; 
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

.headerSection2 {
    border-top: 1px solid  white;
    box-sizing: border-box;
    background-color: rgb(2, 26, 19);
    height:20%;
    font-size: 22px;
}

.navegador{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
        
}

.padreNav{
    display: flex;
    
}




/* MEDIA QUERYS del header. No mover / Siempre hacer los media queries despues de la parte que se codeo */ 

@media only screen and (min-width: 600px) {

    .burger{
        display: none;
    }
    .lupa{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .contenedorFavoritos {
        display: none;
    }

    .contenedorMiGarage {
        display: none;
    }

    .wrapper {
        display: none;
    }
    .burger{
        font-size: 40px;
    }

    .lupa{
        font-size: 40px;
    }
    .carrito{
        font-size: 40px;
    }
    .headerSection2 {
        display: none;
    }
    .logo{
        padding: 0;
    }
    
}

/*      /////////////////main/////////////       */
main {
    height: 40vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

footer {
    height: fit-content ;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



footer .callUs {
    display: flex;
    font-family: 'Teko', sans-serif; 
    color: white; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3em;
    width: 60%;
    padding-top: 1em;
}

footer .callUs i {
    font-size: 1em;
    padding-right: 10px
}

footer .callUs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


footer .social_media_icons  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.2em;
    padding-top: 0.5em;
    
}  

footer .social_media_icons i {
   padding: 20px }  

footer .copyright {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer .copyright p {
    font-family:'Barlow Condensed', sans-serif; 
    color:#acacac; 
}
footer .copyright p a {
    font-family:'Barlow Condensed', sans-serif; 
    color:#acacac; 
}

footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    padding-top: 1em;
}

.newsletter div {
    margin: 10px;
} 

.newsletter input, button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 1em
}