<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/detalleDeProducto.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
<body>

    <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <h1>ONLY FOR TRACK Detailing Products </h1>
        <h2>OFT es un emprendimiento de productos de detailing especializados en el lavado y embellecimiento vehicular. Elaboramos y vendemos todo lo que necesario para lavar en profundidad y detalle autos, motos, camionetas o bicicletas por dentro y por fuera. Nos encontramos hace mas de un año en el mercado brindando la mejor calidad al mejor precio. Realizamos ventas al por mayor y por menor a todo el país, desde nuestro local ubicado en Ciudad Jardín, GBA. </h2>
    </main>
    
    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>