<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/about.css">
    </head>
<body>

    <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <h1>ONLY FOR TRACK Detailing Products </h1>
        <p class="descripcion-negocio">OFT es un emprendimiento de productos de detailing especializados en el lavado y embellecimiento vehicular. Elaboramos y vendemos todo lo que necesario para lavar en profundidad y detalle autos, motos, camionetas o bicicletas por dentro y por fuera. Nos encontramos hace mas de un año en el mercado brindando la mejor calidad al mejor precio. Realizamos ventas al por mayor y por menor a todo el país, desde nuestro local ubicado en Ciudad Jardín, GBA. </p>
    
        <div class="equipo">
            <div class="card-body">
                <h3 class="card-title">Fermin Gutierrez </h3>
                <h5>Desarrollador Full Stack</h5>
                <p class="card-text">Tengo 28 años y actualmente vivo en Tandil. Soy ingeniero industrial y estoy proximo a ser magister en informática en salud. Actualmente trabajo en un sanatorio privado y una de mis tareas es ser el intermediario entre la institución y una empresa de sistemas encargada del armado de la historia clínica digital. Tengo un emprendimiento de cerveza artesanal junto con 2 amigos y en mis tiempos libres me gusta hacer deporte, escuchar musica y ver peliculas.</p>
                <a class="linkedin" href="https://www.linkedin.com/in/fermin-gutierrez-a%C3%B1eli-220b50140/?originalSubdomain=ar"><i class="fa-brands fa-linkedin"></i></a>
                
            </div>
            <div class="card-body">
                <h3 class="card-title">Julieta Bertolini</h3>
                <h5>Desarrolladora Full Stack</h5>
                <p class="card-text">Tengo 28 años y vivo en el Oeste del GBA. Soy politóloga y docente, y me especialicé en temas de género y sustentabilidad, trabajando fundamentalmente en ONGs. En los últimos años profundicé en la importancia de la tecnología para el desarrollo de estas temáticas, y así descubrí el mundo de la programación. En mi tiempo libre me gusta entrenar, escalar, salir a comer y escuchar buena música. Amo viajar y estar en la naturaleza...siempre estoy buscando la forma de escaparme al sur.</p>
                <a class="linkedin"href="https://www.linkedin.com/in/julietabertolini/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </main>
    
    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>