<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/detalleDeProducto.css">
    </head>
<body>

    <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <h2>Acá van nuestras bios, datos del local, formulario de contacto</h2>
    </main>
    
    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>