<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/contact.css">
    </head>
<body>

    <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <h1>Encontranos </h1>
        <div class="contact-container">
            <div class="products-img">
                <img class="products-table" src="img/fab857d4-987c-4b78-89f2-4e5c18967cbc.jpg">
            </div>
            <div class="map">
                <p class="contacto"><i class="fa-solid fa-mobile-retro"></i> 1156679986<br>
                    <i class="fa-solid fa-location-dot"></i> Aviador Germán Wernicke 2216, Ciudad Jardin Lomas del Palomar, Buenos Aires (1684)</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.4923024336763!2d-58.59277788459219!3d-34.591710764370234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb9ae6ee3b14f%3A0x64129d1c1f44ba5e!2sAviador%20Germ%C3%A1n%20Wernicke%202216%2C%20B1684BDN%20Cdad.%20Jardin%20Lomas%20de%20Palomar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1675907784391!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
    
    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>