<!DOCTYPE html>
<html lang="es">
  <head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/index.css">
  
  </head>
  <body>
  <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales --> 
    <main>
     
      
      <section id="featured-products">

        <h2>PRODUCTOS DESTACADOS</h2>

       

      <section id="offers">
        <h2>OFERTAS</h2>

        <section class="cards">
          <article id="first-product" class="article">
            <img class="imag" src="/img/IMG_0175.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
              <div class="contenedorFavoritos">
                  <a href=""><i id="corazon" class="fa-regular fa-heart"></i></a>
              </div> 
            </div>
          </article>
          <article id="second-product" class="article">
            <img class="imag" src="/img/IMG_4335.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
            </div>
          </article>
          <article id="third-product" class="article">
            <img class="imag" src="/img/IMG_0140.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
            </div>
          </article>
          <article id="fourth-product" class="article">
            <img class="imag" src="/img/IMG_0149.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
            </div>
          </article>
          <article id="fifth-product" class="article">
            <img class="imag" src="/img/IMG_0158.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
            </div>
          </article>
          <article id="sixth-product" class="article">
            <img class="imag" src="/img/IMG_0161.jpeg" />
            <div class="product-description">
              <p>ombu-shampoo</p>
              <h3>$ 1500</h3>
            </div>
          </article>
        </section>
      </section>
    </main>

    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

  </body>
</html>