
<header class="headerPrincipal">
    <!-- Divido el header en dos sections, una para la parte de arriba y otra parte de abajo con el navbar-->
    <!--Section 1 del header -->
    
    <div class="contenedorHeader">
      <div class="ubicacionLogo"> 
        <a class="" href="/">
          <img id="logo" src="/img/logo1.png" />
        </a>
      </div>
      <div class="ubicacionBusqueda">
        <form action="/products/busqueda" method="POST">
          <input class="search" name="busqueda" type="text">
          <button class="search-submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="ubicacionNavegador mb-auto">
        <nav class="navegador">
          <% if (locals.isLogged) { %>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/users/<%= locals.userLogged.profilePic %>" width="40" style="border-radius: 100%;">
                Hola <%= locals.userLogged.firstName %> 
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-link" href="/users/mi-garage">Mi Garage</a></li>
                <% if(locals.adminLogin){ %>
                 <li><a class="dropdown-link" href="/products/create">Creá un nuevo producto</a></li>
              <% } %> 
                <li><a class="dropdown-link" href="/users/logout">Cerrar sesión</a></li>
              </ul>
            </div>
              
          <% } else { %>
            <a class="nav-link" href="/">Inicio</a>
				    <a class="nav-link" href="/products">Productos</a>
            <a class="nav-link" href="/users/register">Registro</a>
            <a class="nav-link" href="/users/login">Login</a>
          <% } %>
          <a class="carrito" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          </nav>
      </div>

      
      <!--
        <div class="contenedorMiGarage">
        <a href="/users/login"
          ><p><i id="auto" class="fa-solid fa-car"></i>Mi Garage</p></a
        >
      </div>
      -->
    </div>

    <section class="headerSection2">
        <a href="/products" class="nav_link"><p></p>Conocé todos nuestros productos</a>
    </section>

    <script src="js/header.js"></script>
</header>
