<header>
    <!-- Divido el header en dos sections, una para la parte de arriba y otra parte de abajo con el navbar-->
    <!--Section 1 del header -->
    <section class="headerSection1">
      <div class="contenedorMiGarage">
        <a href="/users/login"
          ><p><i id="auto" class="fa-solid fa-car"></i>Mi Garage</p></a
        >
      </div>
      <div class="contenedorFavoritos">
        <a href=""
          ><p><i id="corazon" class="fa-regular fa-heart"></i>Favoritos</p></a
        >
      </div>
      <i class="fa-solid fa-bars" id="burguer"></i>
      <a class="logo" href="/">
        <img id="logo" src="/img/logo1.png" />
      </a>
      <div>
        <input
          id="searchQueryInput"
          type="text"
          name="searchQueryInput"
          placeholder="¿Qué estás buscando?"
          value=""
        />
        <!-- <button id="searchQuerySubmit" type="button" name="searchQuerySubmit"><i class="fa-solid fa-magnifying-glass"></i></button>-->
      </div>
      <div class="carrito">
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div>
        <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
      </div>
    </section>

    <section class="headerSection2">
      <nav class="navegador">
        <a href="/" class="nav_link"><p>INICIO</p></a>
        <a href="/products" class="nav_link"><p></p>PRODUCTOS</a>
        <a href="/about" class="nav_link"><p></p>NOSOTRXS</a>
      </nav>
    </section>
</header>