<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Libre+Baskerville&family=Teko&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo1.png">
    <title>OFT</title>
</head>