<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head")%>
        <link rel="stylesheet" href="/css/carrito.css">
    </head>
<body>

    <body>
        <%- include("../partials/header")%> 
            <main id="carrito">
                <div class="container wow fadeIn animated">
                    <h2 class="mt-5 mb-3 h2 text-center">TU CARRITO</h2>
                    <div id="principal" class="card my-5">
                        <div class="card-body">
                            <table class="table table-responsive-md mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">
                                            <strong>#</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Producto</strong>
                                        </th>
                                        <th class="th-lg ">
                                            <strong>Precio</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Subtotal</strong>
                                        </th>
                                        <th style="width: 50px;"></th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">
                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <h2>Total: <span class="totalAmount">$ 0</span></h2>
                            </div>
                        </div>
                    </div>
                  
                            <button id="comprar" class="btn btn-primary btn-lg btn-block waves-effect waves-light"
                                type="submit">Comprar</button>
                  
                </div>
            </main>

    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>