<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head")%>
<body>

    <%- include("../partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
       
        <div class="container">
           <div class="crearCuentaForm">
                <div class="login">
                    <p>LOGIN</p>
                </div>
                <form action="">
                    <label for="">Ingrese su e-mail</label>
                    <input type="email" class="input-box" placeholder="">
                    <label for="">Contrase単a</label> 
                    <input type="password" class="input-box" placeholder=""> 
                    <p>Recordarme <a href="" target="" class=""></a> &nbsp;&nbsp;<input type="checkbox" onclick="" name="recordar"/></p>
                    <button type="button" value="Registrar">Ingresar</button>
                    <p class="CuentaOK">Primera vez en OFT?&nbsp;&nbsp;<a href="">Crear una cuenta</a></p>
                </form>
           </div>
           <div class="left"><img src="" alt=""></div>
       </div> 
    
    </main>
    
    
    
    
    
    
    
    
    <!--
    <main>
       
        <div class="container">
           <div class="right">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Ingresar usuario" name="usuario" required>    
                    <input class="form-control" type="contrase単a" placeholder="Ingresar contrase単a" name="contrase単a" required>
                    <button type="submit" class="btn btn-success">Ingresar</button>
                    <input type="checkbox" checked="checked" name="remember"> Recordarme
                </div>
            </form>
          </div>
        
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelarbtn">Cancelar</button>
            <span class="psw">Necesitas <a href="#">ayuda?</a></span>
          </div>
           </div>
           <div class="left"><img src="" alt=""></div>
       </div> 
    
    </main>
-->

    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>