<!DOCTYPE html>
<html lang="es">

    <head>
        <%- include("../partials/head")%>
        <link rel="stylesheet" href="/css/formularioDeRegistro.css">
    </head>
<body>
    <%- include("../partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <div class="container">
           <div class="crearCuentaForm">
                <div class="login">
                    <p>CREAR UNA CUENTA</p>
                </div>
                <form action="">
                    <label for="">Nombre</label> 
                    <input type="text" class="input-box" placeholder="Ingrese su nombre" required>
                    <label for="">Apellido</label> 
                    <input type="text" class="input-box" placeholder="Ingrese su apellido" required> 
                    <label for="">E-mail</label>
                    <input type="email" class="input-box" placeholder="Ingrese su e-mail" required>
                    <label for="">Contraseña</label> 
                    <input type="password" class="input-box" placeholder="Ingrese una contraseña" required> 
                    <label for="">Confirmar contraseña</label> 
                    <input type="password" class="input-box" placeholder="Confirme su contraseña" required> 
                    <p>Estoy de acuerdo con los <a href="" target="" class="">términos y condiciones</a> &nbsp;&nbsp;<input type="checkbox" onclick="" name="condiciones"/></p>
                    <button type="submit" value="Registrar">Registrarme</button>
                    <p class="CuentaOK">¿Ya tenés una cuenta?&nbsp;&nbsp;<a href="/usuarios/login">Ingresar</a></p>
                </form>
           </div>
           <div class="left"><img src="" alt=""></div>
       </div> 
    
    </main>

    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->
</body>
</html>